@font-face {
    font-family: 'Microsoft Tai Le';
    src: url('MicrosoftTaiLe.woff2') format('woff2'),
        url('MicrosoftTaiLe.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

